@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Carrois+Gothic+SC&family=Megrim&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*variable*/
:root{
    --c-dark: #081b29;
    --c-brand: #00abf0;
    --c-brand-light:#4ec0ed;
    --c-brand-rgb:19, 141, 117;
    --c-light-rgb: 0,0,0;
    --c-body: #727272;
    --font-style:"Poppins", serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;

}
*{
    font-family: var(--font-style);
}
.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

img {
    max-width: 100%;
    height: auto;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
    position: relative;
    /* overflow: hidden; */
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
     transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}

/*navbar*/
.navbar {
    box-shadow: var(--box-shadow);
    font-family: var(--font-style);
}

.navbar-nav .nav-link {
     font-weight: 500;
     color: var(--c-dark) !important;

}
.navbar-nav .nav-link:hover{
    color: var(--c-brand) !important ;
}
.profile{
    font-weight: 500;
    color: var(--c-dark) !important;
    
}
.profile:hover{
    color: var(--c-brand) !important ;
}

/*btn*/

.btn {
    font-size: 14px;
    text-transform: uppercase;
    
    
}
#SeaBtn{
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#SeaBtn2{
    border-radius: 0;
}

#SeaBtn2:focus{
    box-shadow: 0;
    border-color: var(--c-brand);
}

.btn.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
    border-radius:0;
    font-weight:600;
    padding: 5px 30px;
}
.btn.btn-light{
    border-radius: 0;
    font-weight: 600;
}

/*header*/
#hero{
    font-family: var(--font-style);
    background: linear-gradient(rgba(var(--c-light-rgb), 0.507), rgba(var(--c-light-rgb), 0.438)),url(./assets/images/mainimg.jpg);
    background-position: center;
    background-size: cover;
}
/* laptops*/

#Laptops{
    font-family: var(--font-style);
    color: var(--c-dark);
}

.section-title {
    margin-bottom: 60px;
}
.section-title .line {
    width: 80px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}
.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
/* ICONBOX */
.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}
/* TEAM */
.team-member-content {
    background-color: var(--c-brand);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: var(--transition);
    opacity: 0;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}

/*offers*/
#Offers{
    font-family: var(--font-style);
    color: var(--c-dark); 
}
/* SERVICE */
.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
    
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    top: 0;
    left: 0;
    transition: var(--transition);
}


.service:hover::after {
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .iconbox {
    background-color: rgba(255,255,255,0.2);
    color: white;
}

/* REVIEW */
#reviews{
    font-family: var(--font-style);
    color: var(--c-dark);
}
.review small {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-brand);
}

.review-head {
    position: relative;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);
}
.team-member-content {
    background-color: var(--c-brand);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: var(--transition);
    opacity: 0;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}



/* CONTACT */
#contact {
    position: relative;
    z-index: 2;
    font-family: var(--font-style);
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(var(--c-light-rgb), 0.5), rgba(var(--c-light-rgb), 0.5)), url(./assets/images/image4.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand);
}

/* FOOTER */
footer {
    padding-top: 120px;
    font-family: var(--font-style);
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}


footer li,
footer p,
footer a {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 0;
    
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}
